<footer class="footer bg-dark text-white mt-5 py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>InvestMe</h5>
          <p>Your platform for connecting investors with innovators.</p>
          <div class="social-icons">
            <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <div class="col-md-2">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="/" class="text-white">Home</a></li>
            <li><a href="/about" class="text-white">About</a></li>
            <li><a href="/contact" class="text-white">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
            <li>Email: support@investme.com</li>
            <li>Phone: +1 234 567 890</li>
            <li>Address: 1234 Street Name, City, Country</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Newsletter</h5>
          <p>Subscribe to our newsletter to stay updated.</p>
          <form>
            <div class="input-group">
              <input type="email" class="form-control" placeholder="Your email">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">Subscribe</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col text-center">
          <p>&copy; 2024 InvestMe. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  